@charset "UTF-8";
/* CSS Document */

h1 {
	font-size: 24px;
}

/* Pseudo Classes */
footer a {
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #CACACA;
	text-decoration: underline;
}

/* Semantic Elements */
main{
	overflow: auto;
	width: 300px;
	height: 175px;
	
	text-align: center;
}

footer {
	positon: fixed;
	bottom: 0;
	width: 300px;
	height: 25px;
	
	padding-top: 2px;
	margin: none;
	
	text-align: center;
	background-color: #000;
	color: #fff;
}

/* Classes [DIV] */


/* IDs [DIV] */
/*
#greeting {}

#dailyGoal {
	font-size: 1.25em;
}

#dayStreak {} */

